body {
    background-color: #f4f4f4;/*Define a cor d fundo de todo corpo da página*/
    display: flex;/*alinhamento dos itens detro*/
    flex-direction: column; /* Ajusta a direção dos flex items para coluna */
    align-items: center; /* Alinha os itens ao centro horizontalmente */
    justify-content: flex-start; /* Inicia os itens no topo do container */
    height: 100vh;/*Terá a altura de 100%¨da janela de visualização*/
    margin: 0;/*remove as margens e paddings padrão, e configura os elementos acima*/
    padding: 0;
}

.navbar {
    display: flex;/*Layout flexível dentro do nav bar*/
    justify-content: space-between;/*Espaça os itens filhos do nav bar, com o primeiro item no inicio e o ultimo no fim*/
    align-items: center;/*Centraliza verticalmente*/
    padding: 1rem;/*Garante 1rem de espaço dentro da navbar*/
    background-color: #f4f4f4;/*Cor de fundo dentro do navbar*/
    width: 100%; /* Garante que a navbar ocupe a largura total */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);/*Sombra sutil, para dar um efeito de elevação*/
}

.container {
    background-color: #fff;/*Cor do container branco*/
    border-radius: 10px;/*Campos dos container são arrendondados*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);/*Sombra*/
    padding: 1.5rem;/*Espaçamento interno*/
    width: 400px;/*Define a largura do container*/
    margin-top: 20px; /* Adiciona um espaço entre a navbar e o container */
}

h1{
    font-size: 24px;/*Tamanho da fonte*/
    margin-bottom: 1.5rem;/*Adiciona espaçamento entre o h1 e o container*/
    text-align: center;/*Centraliza o texto*/
}

.input-group, .output-group{
    display: flex;/*Layout flexível*/
    flex-direction:column;/*Alinhamento de itens dentro de uma coluna*/
    margin-bottom: 1.2rem;/*Espaçamento abaixo de cada grupo*/
}
.input-group label, 
.output-group label{
    margin-bottom: .2rem;/*Espaçamento abaixo do label*/
    font-weight: bold;/*Negrito*/
}
select,
input{
    padding: .8rem;/*Adiciona espaçamento interno*/
    border-radius: 5px;/*Arredonda os cantos*/
    border: none;/*Remove as bordas padrão*/
    font-size: 1rem;/*Define o tamanho da fonte*/
    background-color: #eee;/*Cor de fundo*/
}
button{
    background-color: #4caf50;/*Cor do botão*/
    border-radius: 5px;/*Arredonda os cantos*/
    border: none;/*Remove a borda padrão*/
    color: #fff;/*Cor do texto como branco*/
    cursor: pointer;/*Usa uma mãozinha ao passar o mouse*/
    font-size: 1rem;/*Tamanho da fonte*/
    padding: 0.8rem 1.2rem;/*espaçamento interno*/
    opacity: .7;/*Opacidade inicial mais baixa*/
    transition: 0.4s;/*Adiciona uma transição suave*/
}

button:hover{
    opacity: 1;/*Opaciadade*/
}
.output-group{
    margin-top: 1.2rem;/*Espaçamento*/
}

#message{
    font-size: .8rem;/*Fonte menor*/
    color: #4caf50;/*Cor*/
    margin-top:.7rem;/*Espaçamento*/
    text-align: center;/*Centraliza o texto*/

}

.navbar {
    display: flex;
    justify-content: space-between; /* Alinha os elementos à esquerda e à direita */
    align-items: center; /* Alinha verticalmente no centro */
    padding: 1rem;
    background-color: #f4f4f4; /* Cor de fundo da navbar */
    width: 97%;/*Tamanho da navbar*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra à navbar */
}

.theme-switch {
    display: flex;/*Container flexível, itens sendo dispstos em uma unica linha*/
    align-items: center;/*Centraliza*/
}

/* Estilos para o tema escuro */
.dark,
.dark header {
    background-color: #263238;/*Fundo escuro*/
    color: white;/*Cor do texto como branco*/
}

.dark .card-details h2 {
    color: black; /* Define a cor do texto "Dark Mode" como preta */
}
.dark .bi-sun {
    display: none;/*Esconde o ícone do sol no escuro*/
}

.dark .bi-moon {
    display: block;/*Esconde o ícone da lua no escuro*/
}

.dark .container{
    background-color: #273035;
}
.dark .navbar{
    background-color: #273035;
}
